<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.audiocast.AudioCastMac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AudioCastMac</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>AudioCast needs microphone access for audio capture.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>AudioCast needs screen recording permissions to capture system audio.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>AudioCast needs access to your local network to stream audio to your devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_audiocast._tcp</string>
	</array>
</dict>
</plist>
